*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

/* Header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
#header>h1{
    color: crimson;
}
#header>a{
    color: white;
    background-color: crimson;
    text-decoration: none;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    border: 2px solid crimson;
}
#header>a:hover{
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}

/* container */
#container{
    display: grid;
    place-items: center;
    width: 100%;
}
#container>h2{
    color: crimson;
    padding: 8px;
}
#container button{
    width: 160px;
    height: 130px;
    margin: 10px;
    border: 4px solid crimson;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: 25px;
    color: white;
}
#container .ppr{
    color: black;
    background: url('https://images.unsplash.com/photo-1532153955177-f59af40d6472?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}
#container .rock{
    background: url('https://images.unsplash.com/photo-1549645402-a9d655c5c344?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
}
#container .scic{
    background: url('https://images.unsplash.com/photo-1534769549239-a38ef6ace900?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Npc3NvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}

/* result */
#result{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}
.glow{
    text-shadow: 3px 3px red;
}

/* footer */
#footer{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
#footer span{
    color: red;
}
#mychoice,#result,#mychoicehead{
    display: none;
}
@media(max-width:580px){
    body{
        height: auto;
    }
    #header{
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header>h1{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #userchoice{
        display: grid;
        place-items: center;
    }
    #footer{
        padding-top: 40px;
        position: relative;
    }
}
@media(max-width:340px){
    #header>h1{
        font-size: 30px;
    }
}
@media(max-width:282px){
    #header>h1{
        font-size: 25px;
    }
    #container h2{
        font-size: 20px;
    }
    #result{
        height: 70px;
    }
    #result h1{
        font-size: 25px;
    }
    #footer>h2{
        padding-top: 0;
        font-size: 20px;
    }
}
@media(max-height:700px){
    #footer{
        padding-top: 40px;
        position: relative;
    }
}